
body {
    background-image: url(/assets/images/background2.jpg);
    position: relative;
    padding-bottom: 56px;
    min-height: 100vh;
}

.container {
    padding-bottom: 40px;
}

.col-md-10 {
    background-color: #c9d3df;
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
